h1 {
    text-align: center;
    padding-left: 3rem;
}

div img[data-src] {
	filter: blur(0.2em);
}
div img {
	filter: blur(0em);
	transition: filter 0.5s;
}
div.lazyloaders ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;    
  }