/* Desktop Views ****************************/
@media only screen and (min-width: 72em) {

  nav ul {
    display: flex;
    overflow: hidden;
  }

  nav ul li {
    flex: 1 1 100%;
    /* 1 1 100px (use 100% the space avaiable and keep them all the same) */
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: flex;
  }

  .active_onthispage {
    padding: 0;
    margin: 0;
  }

  /* -----------rentals page ----------- */

  table.rentalsjson {
    border: solid 2rem #497683;
    background-color: #fff;
    margin: 2%;
    max-width: 96%;
    border-collapse: collapse;
  }

  table.rentalsjson img {
    max-width: 100%;
  }

  /* -----------tours page css----------- */

  .places {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1100px;
  }

  div.photo {
    height: 530px;
    padding: 1rem;
    margin-bottom: 1rem;

  }

  /* ---------contact page --------- */


  .contactflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    column-gap: 3rem;
    border: solid 2rem #497683;
    background-color: #eee;
    padding: 2rem;
  }

  /* -------- reservations form --------- */

  .flexformone {
    display: flex;
    flex-direction: row;
    max-width: 50rem;
    margin: auto;
  }

  .formone:nth-child(1) {
    margin-right: 1rem;
  }

}