/* medium css for Lesson 9 */

/* Tablet Views ******************************/
@media only screen and (min-width: 25rem) {

  table.rentalsjson th, table.rentalsjson td {
    font-size: .75rem;
    line-height: 1rem;
  }

}

@media only screen and (min-width: 39rem) {
  /* Flex Design for Navigation */
  nav {
    top: 165px;
  }

  nav ul {
    display: flex;
    overflow: hidden;
  }

  nav ul li {
    flex: 1 1 100%;
    /* 1 1 100px (use 100% the space avaiable and keep them all the same) */
  }

  nav ul li a {
    letter-spacing: .15rem;
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: flex;
  }

  nav ul li a:hover {
    background-color: #7da39e;
  }

  header img {
    max-width: 400px;
  }

  h1 {
    font-size: 1rem;
    margin: .25rem 0 2rem 0;
  }

  .picturesummarygroup {
    max-width: 100%;
  }

  

  #icon1 img {
    max-width: 4rem;
  }

  .events {
    margin-bottom: 1.4rem;
  }

  /*----------- Index Page --------------*/

.gridone {
  
  border: solid 2rem #571c2f;
  background-color: #571c2f;
  margin: 2%;
  max-width: 96%;
  display: flex;
  flex-direction: row;
  margin-top: -0.2rem;
}

/*----------- INDEX WEATHER --------------*/

.weather {
  display: block;
  width: 600px;
  padding: 1rem;
  margin-left: 2rem;
  background-color: #eeeeee;
}


.weathersummary_box {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.weather_title_box {
  background-color: #7da39e;
  margin: 0;
}

.weathersummary_box h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin: .5rem 1rem;
  text-align: left;
  color: #1f293f;
}

.weathertable {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

#currdescription {
  text-transform: capitalize;
}

.apiweather {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  color: #497683;
  padding-left: 0;
  margin: 0 1rem;
}

  .gridtwo {
    margin-top: -1.5rem;
    background-color: #eeeeee;
  }

  /*----------- INDEX RENTALS --------------*/

  .rentals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .5rem;
    margin: 1rem auto;
    max-width: 835px;
  }
  
  .rentalspics {
    margin: 0 auto;
    min-width: 250px;
    
  }
  
  .rentals img {
    background-color: #ffffff;
    margin: 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
   
  }

/* --------------rentals page -------------- */

table.rentalsjson {
  border: solid 2rem #497683;
  background-color: #fff;
  margin: 2%;
  max-width: 96%;
  border-collapse: collapse;
}

.mainrentals {
  margin-top: 12rem;
}

table.rentalsjson th, table.rentalsjson td {
  font-size: 1rem;
  padding: .5rem;
}

/* -------Weather Summary Overlay Box------- */
  
  h3 {
    text-align: left;
  }

  h4 {
    font-size: 1.25rem;
    padding-top: 1rem;
  }

  h6 {
    font-size: 1.25rem;
    text-align: left;
    margin-top: 0;
  }

  /*.weathersummary_box {
    background-color: rgb(153, 204, 204, .85);
    
    left: 1.25rem;
    top: 1.25rem;
    width: 250px;
    margin-top: 0;
  } 

  .overlaycontainer {
    width: 250px;
    height: auto;
    display: grid;
    row-gap: 1.35rem;
  } */

  /* ------- article ------- */

  .article {
    max-width: 96%;
    padding-left: 0;
  }

  .article p {
    font-size: 1rem;
  }

  .article h3 {
    font-size: 1.5rem;
  }

  .byline {
    line-height: 1.25rem;
  }

  img.hike {
    max-width: 350px;
    float: left;
    margin: 0 1rem 1rem 0;
  }

/* --------reservations page -------- */

#reservations a {
  letter-spacing: -.2px;
}

.formthree label.commentsmall {
  display: none;
}

.formthree label.commentmedium {
  display: block;
}


  /* --------------tours page css-------------- */

  .maintours {
    margin-top: 12rem;
  }

  .places {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  div.photo {
    height: 550px;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  div.photo picture img {
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  div.tours_box h2 {
    letter-spacing: .5rem;
  
  }

  div p.caption {
    letter-spacing: .10rem;
    padding: 0 .75rem 2.5rem 0;
    padding: 0 .96%;
  }

  .places p.tourinfo {
    padding: 0.5rem 4% 2rem 4%;
    line-height: 1.5rem;
  }

  /* -------reservations form-------- */

  .mainreservations {
    margin-top: 12rem;
  }

  form fieldset {
    margin: 2rem auto;
    width: 100%;
    max-width: 50rem;
  }

  form legend {
    color: #1f293f;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    padding: 0 .75rem 2.5rem 0;
    margin-left: -1rem;
  }

  .agreement {
      margin-top: 4.25rem;
  }

  form label.toplabel {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  form div.toplabel {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  form label.tiptoplabel,
  form div.tiptoplabel {
    margin-top: -1.75rem;
  }

  form label.toplabel input,
  form label.toplabel select {
    font-size: 1rem;
    padding: .4rem;
  }

  form label.range {
    font-size: 1rem;
  }

  form label.radio {
    font-size: 1rem;
    padding: .25rem;
  }

/* -------- contact page -------- */


.maincontact {
  margin-top: 12rem;
}

.contactform fieldset label.tiptoplabel, .contactform fieldset label.toplabel {
  width: 50rem;
}

.contactform fieldset label {
  max-width: 20rem;
}

.contactform legend span.off {
  display: inline;
}

.contactform label.commentsmall {
  display: none;
}

.contactform label.commentmedium {
  display: block;
}

div.maptakeone {
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0rem auto;
  padding-bottom: 2rem;
  max-width: 640px;
  min-width: 270px;
  height: auto;
}

div.map {
  overflow:hidden;
  padding-bottom: 56.25%;
  position: relative;
  height:0;
  margin: 0 2%;
  max-width: 96%;
  background-color: #497683;

}

div.map iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 5%;
  right: 5%;
  max-width: 640px;
  max-height: 480px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
}

.locations h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin: 1.72rem 0 .5rem 0;
  text-align: center;
  color: #497683;
}

.locations h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25rem;
  margin: 1rem 0;
  text-align: center;
  color: #497683;
}

.locations p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.25rem;
  margin: 1rem 0;
  text-align: center;
  color: #1f293f;
}

div.contactflex fieldset {
margin-top: 1.5rem;
}

div.contactflex {
}

/* --------------index town cards-------------- */

div.cards {
  display: block;
  grid-template-rows: 1fr;
}

main div.cards section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1rem;
  max-width: 750px;
  width: auto;
  min-height: auto;
}

div.cardImg img {
  padding-top: 0;
  float: right;
  max-width: 570px;
  min-height: 200px;
  object-fit: cover;
}

div.cardText p {
  text-align: left;
  padding-left: 2rem;
}

div.cardText h2 {
  text-align: left;
  padding-left: 1rem;
}

div.cardText p.motto {
  font-size: 1rem;
  margin-left: 0;
}

div.cards section:nth-child(2) img {
  order: 1;
  float: left;
}

div.cards section:nth-child(2) .cardText {
  order: 2;
}

  /* ------------adventure article------------ */

  div.adventures {
    display: block;
  }

  div.adventures img {
    float: right;
    padding-left: 1rem;
    width: 350px;
  }

  div.adventuretext {
    padding-left: 1.25rem;
  }

  div.adventuretext h3 {
    margin-top: -1.3rem;
  }

  .adventures {
    width: 96%;
  }

  /* footer */

  div.mapcontact_box {
    height: 285px;
    padding-left: .5rem;
    display: block;
  }

  .contact_box p {
    font-size: 1rem;
  }

  .contact_box {
    display: block;
    padding-top: .55rem;
  }

  .address,
  .phone {
    margin: 2rem 0 3rem 0;
  }

  footer {
    font-size: .8rem;
  }

}

@media only screen and (min-width: 44rem) {
  nav ul li a {
    letter-spacing: .25rem;
  }

  #reservations a {
    letter-spacing: .1rem;
  }

}

@media only screen and (min-width: 49rem) {
  table.rentalsjson td, table.rentalsjson th {
    font-size: 1rem;
    padding: .5rem;
  }


span.maximum {
  display: inline;
}
span.riders {
  display: none;
}

}

@media only screen and (min-width: 65rem) {
  
  /*----------- INDEX FORECAST --------------*/
  .weather {
    display: block;
    width: 600px;
    padding: 1rem .5rem;
    margin-left: 2rem;
    background-color: #eeeeee;
  }

.forecastscoot {
  background-color: #eeeeee;
  padding: 0 1rem 1.5rem 1rem;
}

.forecastscoot h4 {
  color: #eeeeee;
  background-color: #7da39e;
  display: block;
  background-color: #497683;
  border: 5px solid #497683;
  width: 95%;
  height: 20px;
  padding: .75rem 1rem .5rem 1rem;
  margin: .75rem auto 0 auto;
}

.forecast {
  display: block;
  background-color: #ffffff;
  border: 5px solid #497683;
  font-size: 1rem;
  width: 95%;
  height: 132px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: .75rem 1rem .5rem 1rem;
  margin: 0 auto;
  text-align: center;
}

.forecastimg {
  padding: 5px;
  margin: 0 auto;
}

  .forecastscoot {
    display: block;
    width: 600px;
    padding: 1rem;
  }

}