/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* phone or baseline views **************************/
/* grouping them together makes the responsivness work */

header {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  position: fixed;
  top: 123px;
  width: 100%;
}

/*----------- BODY --------------*/
body {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #1f293f;
}

h1 {
  letter-spacing: .02rem;
  color: #ffffff;
  font-size: .6rem;
  line-height: 1rem;
  margin: -.15rem 0 1.75rem 0;
}

h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: .05rem;
  line-height: 0;
  color: #1f293f;
  padding-left: 0;
  text-align: center;
  margin: 1rem;
}

/*----------- HEADER --------------*/
header {
  background-color: #1f293f;
  padding: 5px 0;
  text-align: center;
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  padding: 0 1rem;
}

header img {
  max-width: 250px;
  height: auto;
  padding-top: 1rem;
  margin-top: .5rem;
}

/* grouping them together makes the responsivness work */
header,
nav {
  margin: 0 auto;
}

/*----------- NAVIGATION --------------*/
nav button {
  margin: .2rem 2% .5rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}

nav {
  background-color: #497683;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #404749;
  text-align: center;
}

nav ul li a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  text-decoration: none;
  /* gets rid of underline */
  color: #fff;
  line-height: 2rem;
  display: block;
  /* this makes the whole block clickable */
}

nav ul li a:hover {
  background-color: #7da39e;
}

nav ul li a.active_onthispage:hover {
  background-color: #497683;
}

nav ul li a:active {
  font-size: 1.25rem;
}

nav ul li a.active_onthispage:active {
  font-size: 1rem;
}

.active_onthispage {
  background-color: #497683;
  color: #fff;
  padding: 0;
  margin: 0;
}

nav ul.hide {
  display: none;
}

/*----------- MAIN --------------*/

main,
footer {
  max-width: 1150px;
  margin: 0 auto;
}

main {
  background-color: #ffffff;
}

/*----------- Header --------------*/

.headings {
  display: flex;
  flex-direction: column;
}

/*------ INDEX GRID ONE SETUP ---------*/

.mainindex {
  margin-top: 10rem;
}

.gridone {
  border: solid 2rem #571c2f;
  background-color: #571c2f;
  margin: -.18rem 2% 0 2%;
  max-width: 96%;

}

.off {
  display: none;
}

/*----------- INDEX CTA --------------*/

.cta {

  background-color: #571c2f;
  margin: 0;
  max-width: 100%;
  align-content: center;
  justify-content: center;
}

.cta h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: .5rem;
  padding: 0 1rem 0 1rem;
  margin: 0;
}

.cta p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.35rem;
  text-align: center;
  padding: 0 2rem;
  margin: 0;
  color: #eeeeee;
}

.ctabutton {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background-color: #eeeeee;
  text-align: center;
  color: #571c2f;
  padding: 1rem;
  max-width: 15rem;
  height: 3.25rem;
  border-radius: .2rem;
  margin: 1rem auto 0 auto;

}

.ctabutton:hover {
  box-shadow: 0 0 25px #333;

}

.ctabutton a {
  text-decoration: none;
  color: #1f293f;
}

.ctabutton a:hover {
  font-size: 1.05rem;
  color: #571c2f;

}

/*-------- INDEX GRID SETUP -----------*/

.gridtwo {
  margin: -1rem 2% 0 2%;
  max-width: 96%;
  justify-content: center;
  align-items: center;
}

/*-------- Index RENTALS -----------*/

.rentals {
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem;
}

.rentalbutton {
  background-color: #1f293f;
  text-align: center;
  padding: 1rem;
  max-width: 15rem;
  min-width: 9rem;
  height: 3.25rem;
  border-radius: .2rem;
  margin: 1rem auto;

}

.rentalspics {
  border: solid 1rem #497683;
  background-color: #fff;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.rentals img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
}

.rentals h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #1f293f;
  margin-bottom: .5rem;
}

.rentals p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #1f293f;
  margin: 0 0 .5rem 0;
}

a.rentalbutton {
  color: #ffffff;
  text-decoration: none;
}

.rentalbutton:hover {
  font-size: 1.05rem;
  background-color: #7da39e;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #1f293f;
  font-size: .85rem;
  line-height: 1.2rem;
}

/* ------ index page hero image ------ */


picture.picturecontainer {
  display: block;
  width: 96%;
  margin: 0 2%;
}

main picture.picturecontainer img {
  width: 100%;
}

/* ---------- contact page ---------- */

.maincontact {
  margin-top: 10rem;
  background-color: #fff;
}

.contactflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  border: solid 2rem #497683;
  background-color: #eee;
  padding: 2rem;
  margin: 0 2%;
  max-width: 96%;
}

div.contacth2_box h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #1f293f;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: .5rem;
  padding: 2rem 1rem 0 1rem;
  margin-bottom: 2rem;

}

.locations h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin: .2rem 0 2rem 0;
  text-align: center;
  color: #497683;
}

.locations h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 1rem 0;
  text-align: center;
  color: #497683;
}

.locations p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 1rem 0;
  text-align: center;
  color: #1f293f;
}

form.contactform {
  padding: 0 2rem;
}

.contactform fieldset {
  margin: 2rem 0;
  border: 3px solid #7da39e;
  border-radius: .8rem;
  padding: 1rem 1rem;
  background-color: #7da39e;
}

.contactform fieldset label {
  max-width: 15rem;
}

.contactform legend {
  color: #1f293f;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  padding: 0 0 2.5rem 0;
  margin-left: 0rem;
}

.contactform label.toplabel {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: block;
  padding-top: 1rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.25rem;
}

.contactform label.tiptoplabel,
.contactform div.tiptoplabel {
  padding-top: 0rem;
  margin-top: -1.5rem;
}

.contactform label.toplabel input,
.contactform label.toplabel select {
  -webkit-appearance: none;
  display: block;
  font-size: .8rem;
  border: solid 2px #eeeeee;
  border-radius: .1rem;
  padding: .75rem;
  width: 100%;
  max-width: 20rem;
  background-color: #fff;
  margin-bottom: .5rem;
}

.contactform textarea.commentbox {
  margin-top: .35rem;
}

.contactform label.commentsmall {
  display: block;
}

.contactform label.commentmedium {
  display: none;
}

.contactform input.submitBtn {
  border: none;
  background-color: #571c2f;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border-radius: .1rem;
  padding: .75rem 1.5rem;
  width: 100%;
  max-width: 20rem;
  border: 3px solid #571c2f;
  border-radius: .8rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.contactform input.submitBtn:hover {
  font-size: 1.25rem;
}

.contactform label.toplabel input:required,
.contactform label.toplabel select:required {
  border: solid 2px #571c2f;
  color: #571c2f;
}

.contactform label.toplabel input:required:valid,
form label.toplabel select:required:valid {
  border: solid 2px #eeeeee;
  color: #1f293f;
}

div.maptakeone {
  align-items: center;
  justify-content: center;
  margin: 2rem auto 0rem auto;
  padding-bottom: 2rem;
  max-width: 640px;
  min-width: 270px;
  height: auto;
}

div.map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 0;
}

div.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* --------------- tours --------------- */

.maintours {
  background-color: #fff;
  margin-top: 10rem;

}

.places {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1.75rem 2rem 1.75rem;
  margin: 2%;
  max-width: 96%;
  background-color: #497683;
}

div.photo {
  background-color: #ffffff;
  padding: 0 2%;
  max-width: 96%;
  margin: auto;
}

div.photo:hover {
  box-shadow: 0 0 15px #1f293f;
}

div.photo picture img {
  max-width: 100%;
  padding: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

div.tours_box h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #1f293f;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: .25rem;
  padding: 2rem 1rem 0 1rem;
  margin-bottom: 2rem;

}

div p.caption {
  color: #1f293f;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  padding: 0 .75rem 2.5rem 0;
  margin: 1rem .5rem 0 .5rem;
  text-align: center;
  line-height: 1.5rem;
  padding: 0 1.75rem 0 1rem;
}

.places p.tourinfo {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #497683;
  text-align: center;
  line-height: 1.25rem;
  padding: .5rem 1rem 2rem 1rem;
  margin: 0;
}

/* ------- reservations form -------- */

.mainreservations {
  margin-top: 10rem;
}

.flexformone {
  display: flex;
  flex-direction: column;
}

div.formname_box h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #1f293f;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: .5rem;
  padding: 2rem 1rem 0 1rem;
  margin: 0;

}

form {
  padding: 0 2rem;
}

form fieldset {
  margin: 2rem 0;
  border: 3px solid #497683;
  border-radius: .8rem;
  padding: 1rem 1rem;
  background-color: #497683;
}

.rentalagreement {
  background-color: #fff;
  padding: 1rem 2rem;
  margin-top: -.5rem;
  color: #1f293f;
}


form legend {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #1f293f;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  padding: 0 .0 2.5rem 0;
  text-align: center;
}

form label.toplabel {
  display: block;
  padding-top: 1rem;
  color: #fff;
  font-size: .8rem;
  line-height: 1.25rem;
}

form div.toplabel {
  display: block;
  padding-top: 1rem;
  color: #fff;
  font-size: .8rem;
  line-height: 1.25rem;
}

form label.tiptoplabel,
form div.tiptoplabel {
  padding-top: 0rem;
  margin-top: -1.5rem;
}

form label.toplabel input,
form label.toplabel select {
  -webkit-appearance: none;
  display: block;
  font-size: .8rem;
  border: solid 2px #eeeeee;
  border-radius: .1rem;
  padding: .75rem;
  width: 100%;
  max-width: 20rem;
  background-color: #eeeeee;
  margin-bottom: .5rem;
}

input.rangeinput {
  display: block;
  margin-top: .5rem;
  margin-bottom: .45rem;
}

form label.radio {
  display: block;
  font-size: .8rem;
  padding: .5rem 0;
  color: #fff;
}

textarea.commentbox {
  margin-top: .35rem;
}

.formthree label.commentsmall {
  display: block;
}

.formthree label.commentmedium {
  display: none;
}

form input.submitBtn {
  border: none;
  background-color: #571c2f;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border-radius: .1rem;
  padding: .75rem 1.5rem;
  display: block;
  margin: .1rem auto 2.2rem auto;
  width: 100%;
  max-width: 20rem;
  border: 3px solid #571c2f;
  border-radius: .8rem;
}

form input.submitBtn:hover {
  font-size: 1.25rem;
}

form label.toplabel input:required,
form label.toplabel select:required {
  border: solid 2px #571c2f;
  color: #571c2f;
}

form label.toplabel input:required:valid,
form label.toplabel select:required:valid {
  border: solid 2px #eeeeee;
  color: #1f293f;
}

/* -------------thanks------------- */

.thanksname_box {
  padding: 2rem 0;
}

.thanksname_box h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #1f293f;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: .5rem;
  padding: 0 1rem 0 1rem;
  margin: 0;
}

p.thanks {
  text-align: center;
  font-size: 1rem;
  padding: 0 2rem 2.5rem 2rem;
  color: #1f293f;
}

/* ----- rentals JSON and tables ----- */
.mainrentals {
  background-color: #fff;
}

.mainrentals {
  margin-top: 10rem;
}

.mainrentals .formname_box h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #1f293f;
  text-align: center;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: .5rem;
  padding: 2rem 1rem 0 1rem;
  margin: 0 auto;

}

table.rentalsjson {
  border: solid 1rem #497683;
  background-color: #fff;
  margin: 2%;
  max-width: 96%;
  border-collapse: collapse;
}

table.rentalsjson td {
  border: solid .1rem #497683;
  padding: .25rem;
  font-size: .5rem;
  text-align: center;
}

table.rentalsjson th {
  border: solid .1rem #497683;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: .5rem;
  color: #497683;
  text-align: center;
  line-height: .75rem;
  padding: .5rem .15rem;
  margin: 0;

}

table td {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #497683;
  text-align: left;
  line-height: .75rem;
  padding: .5rem .15rem;
  margin: 0;

}

span.maximum {
  display: none;
}

table.rentalsjson img {
  max-width: 100%;
}

/* --------------footer-------------- */

div.mapcontact_box {
  background-color: #99cccc;
  max-width: 100%;
  height: 110px;
  margin: 0 auto;
  padding-top: .5rem;
}

.contact_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.contact_box p {
  font-size: .8rem;
  line-height: .5rem;
  padding: 0 1rem;
}

.foot_box {
  background-color: #1f293f;
  color: #ffffff;
  font-size: .7rem;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.5;
  margin: auto;
  max-width: 1150px;
}

footer {
  max-width: 1150px;
  margin: auto;
}

footer a:link,
footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #ffcc66;
}

footer p,
.modified {
  color: #fff;
  font-size: .85rem;
  line-height: .75rem;
}

footer.foot_box {
  margin-top: -1rem;
}

.socialmedia {
  width: 25px;
  margin: 1rem .5rem;
}