/* large css for Lesson 9 */


/* Desktop Views ****************************/
@media only screen and (min-width: 72em) {

  nav ul {
    display: flex;
    overflow: hidden;
  }

  nav ul li {
    flex: 1 1 100%;
    /* 1 1 100px (use 100% the space avaiable and keep them all the same) */
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: flex;
  }

  header img {
    width: 150px;
    padding-top: 8px;
  }

  .headings h1 {
    font-size: 4rem;
    letter-spacing: .3rem;
    line-height: 4.5rem;
  }

  .motto {
    font-size: 2rem;
  }
  /* gallery page css */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
}

div.photo:hover {
  box-shadow: 0 0 25px #333;
}

div.photo {
  border: #003366;
  border-style: none;
}

/* --------------index cards-------------- */

div.cardsmedium {
  display: none;
}

div.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: .75rem;
  /* box-shadow: 0 0 25px rgb(18, 25, 28, 0.55); */

}

.cards p {
  text-align: center;
}

.cards h2 {
  letter-spacing: .05rem;
    line-height: 2.5rem;
    padding-top: 0;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-block-end: 0;
}

.cards p {
  line-height: .5rem;
}

section:nth-child(1) {
  font-style: italic;
}

div.cards img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

main div.cards section {
  background-color: #ffffff;
  border: solid 1.5rem #ECD078;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  min-height: 260px;
  height: auto;
}


}