/* medium css for Lesson 9 */

/* Tablet Views ******************************/
@media only screen and (min-width: 36rem) {
  /* Flex Design for Navigation */

  header img {
    width: 110px;
    padding-top: 8px;
  }

  .headings h1 {
    font-size: 3rem;
  }

  .motto {
    font-size: 1.5rem;
    margin-left: 19px;
  }

  .picturesummarygroup {
    max-width: 100%;
  }

  .forecast {
    display: block;
    background-color: #ffffff;
    border: 3px solid #99cccc;
    font-size: .75rem;
    width: 75%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: .75rem 1rem 4.5rem 1rem;
    margin: 10px auto;
    text-align: center;
  }

  .forecast img {
    max-width: 1.9rem;
    padding: 5px;
    margin: 0 auto;
  }

  h2 {
    line-height: 0;
  }

  /* -------Weather Summary Overlay Box------- */
  h3 {
    font-size: 1.25rem;
    text-align: left;
  }

  .overlaycontainer {
    font-size: .75rem;
  }

  table.weathersummary_box {
    background-color: rgb(153, 204, 204, .85);
    margin: auto;
    position: absolute;
    left: 2.25rem;
    top: 1rem;
  }

  .article {
    max-width: 100%;
  }

  .article p {
    font-size: 1rem;
  }

  .article h3 {
    font-size: 1.5rem;
  }

  .byline {
    line-height: 1.25rem;
  }

  img.hike {
    max-width: 350px;
    float: left;
    margin: 0 1rem 1rem 0;
  }

  /* --------------gallery page css-------------- */

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /* -------storm center form page css-------- */

  form fieldset {
    margin: 2rem auto;
    width: 100%;
    max-width: 50rem;
  }

  form label.toplabel {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  form div.toplabel {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  form label.tiptoplabel,
  form div.tiptoplabel {
    margin-top: -1.75rem;
  }

  form label.toplabel input,
  form label.toplabel select {
    font-size: 1rem;
    padding: .4rem;
  }

  form label.range {
    font-size: 1rem;
  }

  form label.radio {
    font-size: 1rem;
    padding: .25rem;
  }

  form input.submitBtn {
    display: block;
    width: 100%;
    max-width: 20rem;
    margin: .1rem auto 2.2rem auto;
  }

  div.cards {
    display: block;
    width: 100%;
    grid-template-rows: 1fr;
  }

  main div.cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 1rem;
    max-width: 650px;
  }

  div.cardImg img {
    padding-top: 0;
    object-fit: cover;
    height: 100%;
    width: auto;
  }

  div.cardText p,
  div.cardText h2 {
    text-align: left;
    padding-left: 2rem;
  }

  div.cardText p.motto {
    font-size: 1rem;
    margin-left: 0;
  }

  div.cards section:nth-child(2) img {
    order: 1;
  }

  div.cards section:nth-child(2) .cardText {
    order: 2;
  }

  /* ------------adventure article------------ */

  div.adventures {
    display: block;
  }

  div.adventures img {
    float: right;
    padding-left: 1rem;
    width: 350px;
  }

  div.adventuretext h3 {
    margin-top: -1.3rem;
  }

  .adventures {
    width: 96%;
  }

  /* footer */

  div.mapcontact_box {
    height: 310px;
    display: block;
  }

  .contact_box p {
    font-size: 1rem;
  }

  .contact_box {
    display: block;
    padding-top: .55rem;
  }

  .address,
  .phone {
    margin: 2rem 0 3rem 0;
  }

  img.map {
    max-width: 350px;
    padding: 1rem 1rem 1rem 1rem;
    display: block;
    float: left;
  }

  footer {
    font-size: .8rem;
  }

}