/* small css for Week 3 Web Planning file */

body {
  font-size: 16px;
  font-family: 'Fjalla One', sans-serif;
}

/* phone or baseline views **************************/
/* grouping them together makes the responsivness work */
header,
nav {
  margin: 0 auto;
}

header {
  background-color: #ECD078;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.headings h1 {
  margin: 20px 100px 0px 100px;
}

nav ul {
  display: flex;
  text-align: center;
  padding: 5px 2px 5px 22px;
  flex-direction: column;
  list-style-type: none;
  background-color: #000000;
  }

nav ul li {
  flex: 1 1 100%;
  /* 1 1 100px (use 100% the space avaiable and keep them all the same) */
}

nav ul li a {
  letter-spacing: .25rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 2rem;
  display: block;
  /* this makes the whole block clickable */
}

nav ul li a:hover {
  color: #ECD078;
}

/* phone or baseline views **************************/
/* grouping them together makes the responsivness work */
main,
footer {
  max-width: 500px;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: 1fr; */
}

main section {
  margin: 0.5rem;
  /* border: 1px solid #bbb; */
  padding: 0 1rem;
  /* background-color: #eeeeee;
  border-radius: 5px; */
  font-family: 'Oswald';
}

main section picture img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #ECD078;
  color: #542437;
  text-align: center;
  padding: 15px 15px;
  line-height: 1.5;
  border-radius: 5px;
}

p,
li {
  font-family: 'Oswald', sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #542437;
}

a:hover {
  color: #9459a3;
}

h1 {
  font-size: 2rem;
  letter-spacing: .7rem;
  line-height: 1.25;
  color: #542437;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: .1rem;
  line-height: 0;
  color: #542437;
}

h3 {
  font-size: 2rem;
  letter-spacing: .3rem;
  line-height: .01rem;
  color: #000000;
}

h4 {
  font-size: 2em;
  letter-spacing: .03rem;
  line-height: 1.0;
  color: #990000;
  margin-block-end: -8px;
}

h5 {
  font-size: 1.5rem;
}

.logo {
  max-width: 125px;
  padding-top: 25px;
}

.photo {
  max-width: 125px;
  margin-block-start: -25px;
}

.paragraphtext {
  font-size: 16px;
  font-family: 'Oswald';
  color: #333333;
}

.heading1 {
  font-size: 3rem;
  font-family: 'Fjalla One';
  color: #669966;
  letter-spacing: .25rem;
}

.heading2 {
  font-size: 2rem;
  font-family: 'Fjalla One';
  color: #003366;
}

.heading3 {
  font-size: 1.5rem;
  font-family: 'Fjalla One';
  color: #003366;
}

.heading4 {
  font-size: 1.25rem;
  font-family: 'Fjalla One';
  color: #003366;
}

.fontnavigation {
  font-size: 1rem;
  font-family: 'Fjalla One';
  color: #003366;
  letter-spacing: .125rem;
}

.siteplanparagraphs {
  max-width: 600px;
}